[submodule "thirdparty/gegl"]
	path = thirdparty/gegl
	url = git://git.gnome.org/gegl
[submodule "thirdparty/babl"]
	path = thirdparty/babl
	url = git://git.gnome.org/babl
[submodule "thirdparty/libsoup"]
	path = thirdparty/libsoup
	url = git@github.com:jonnor/libsoup.git
