/* Main layout */
#app {
    width: 800px;
}

#topSection {

}

#graphsSection {
    float: left;
    width: 200px;
    height: 250px;
}

#propertiesSection {
    float: right;
    width: 600px;
    height: 250px;
}

#historySection {
    float: none;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 800px;
    height: 450px;
}

/* Layout details */
.portInput {
    float: right;
    margin-right: 10px;
    width: 400px;
}

.portLabel {
    margin-right: 10px;
}

.line {
    height: 25px;
}

#graphProperties {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 170px;
}

#runButton {
    float: right;
    margin-top: 22px;
    margin-right: 30px;
}


.logEntry {
    width: 770px;
    height: 150px;
    margin-bottom: 10px;
}

.image {
    height: 150px;
    width: 150px;
    float: right;
}

.request {
    float: left;
    width: 500px;
    overflow-x: hidden;
    margin-top: 50px;
}


/* Style */
img {
   padding:1px;
   border:1px solid #021a40;
}

.graphEntry .selected {

}
